<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">

<!-- Permissions Policy -->
<meta http-equiv="Permissions-Policy" content="fullscreen=(self)">

<!-- Robots meta: manual noindex on a page -->
{% if page.noindex %}
  <meta name="robots" content="noindex">
{% endif %}

<!-- Robots meta: automatic noindex for non-production -->
{% if site.env.IS_PRODUCTION != "true" %}
  <meta name="robots" content="noindex, nofollow">
{% endif %}

<!-- end custom head snippets -->