/* start custom scss snippet */

/* Original container */
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; 
}

/* Original iframe */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* New container for responsive-radio-iframe */
.new-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio (3 / 4 * 100 = 75) */
}

/* Then style the iframe to fit in the new container div with full height and width */
.responsive-radio-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  margin: auto;
}

.responsive-chat-iframe {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0; /* Set bottom to 0 for full height */
  width: 100%; /* Set width to 100% to fill the container's width */
  height: 100%;
  margin: auto;
  display: flex;

}

.form-container {
  text-align: center; /* Ensures content is centered */
  max-width: 600px;
  margin: 0 auto; /* Centers the container */
  padding: 20px;
  box-shadow: 0 8px 16px rgba(rgb(255, 255, 255), .9), 0 2px 6px rgba(rgb(51, 255, 255), .5), 0 12px 24px rgb(192, 201, 201);
  border-radius: 8px;
}

.contact-form {
  margin-top: 20px; /* Adds some space between the text and the form */
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left; /* Ensures form labels are aligned to the left for readability */
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form input[type="date"], /* Added date to the existing input styles */
.contact-form textarea,
.contact-form select { // Added select to the existing styles for input and textarea
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white; // Ensure background is white for visibility
  color: black; // Set text color to black for visibility
}

.contact-form button[type=submit] {
  background-color: #ff33cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.contact-form button[type=submit]:hover {
  background-color: rgb(51, 255, 255);
}

/* end custom scss snippet */

  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 40;
    color: #33ffff;
    font-weight: bold;
    vertical-align: bottom;
  }
  

/* end custom scss snippet */


