/* start custom scss snippet */

/* Original container */
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; 
}

/* Original iframe */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* New container for responsive-radio-iframe */
.new-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio (3 / 4 * 100 = 75) */
}

/* Then style the iframe to fit in the new container div with full height and width */
.responsive-radio-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  margin: auto;
}

.responsive-chat-iframe {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0; /* Set bottom to 0 for full height */
  width: 100%; /* Set width to 100% to fill the container's width */
  height: 100%;
  margin: auto;
  display: flex;

}

.form-container {
  text-align: center; /* Ensures content is centered */
  max-width: 600px;
  margin: 0 auto; /* Centers the container */
  padding: 20px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.9), 0 2px 6px rgba(51, 255, 255, 0.5), 0 12px 24px rgb(192, 201, 201);
  border-radius: 8px;
}

.contact-form {
  margin-top: 20px; /* Adds some space between the text and the form */
  text-align: center; /* Center-align the form elements */
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left; /* Ensures form labels are aligned to the left for readability */
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form input[type="tel"], /* Add tel input here */
.contact-form input[type="date"], /* Added date to the existing input styles */
.contact-form input[type="url"], /* Added url to the existing styles */
.contact-form textarea,
.contact-form input[type="password"],
.contact-form select { /* Added select to the existing styles for input and textarea */
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white; /* Ensure background is white for visibility */
  color: black; /* Set text color to black for visibility */
}

.contact-form button[type=submit] {
  background-color: #ff33cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #ff33cc; /* Border similar to submit button */
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.contact-form button[type=submit]:hover {
  background-color: #33ffff00;
  color: rgb(255, 255, 255);

}

.contact-form button[type=button] {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #ff33cc; /* Border similar to submit button */
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Match the width of the submit button */
  box-sizing: border-box; /* Ensure padding and border don't affect width */
}

.contact-form button[type=button]:hover {
  background-color: #ff33cc; /* Match the background color of the submit button */
  color: white; /* Ensure text is visible */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 40;
  color: #33ffff;
  font-weight: bold;
  vertical-align: bottom;
}

.progress-bar {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

#progress {
  height: 20px;
  background-color: #33ffff;
  width: 0%;
  border-radius: 5px;
}

#messageDisplay {
  font-size: 16px;
  margin-top: 20px;
}

$profile-w: 16rem; // Define a fixed button size (you can adjust as needed)

#profileImagePreviewContainer,
#profileImagePreviewFormContainer {
  width: $profile-w;
  height: $profile-w;
  margin: 0 auto 20px auto; /* Center the container and add margin below */
  border: 1px solid #ff33cc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Makes the container circular */
  overflow: hidden; /* Ensures the image doesn't overflow out of the circle */
}
#profileImagePreview,
#profileImagePreviewForm {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container area without distortion */
  /* Removed display: none; */
}

/* end custom scss snippet */
$profile-w: 16rem; // Define a fixed button size (you can adjust as needed)

#soundEngineImagePreviewContainer,
#soundEngineImagePreviewFormContainer {
  width: $profile-w;
  height: $profile-w;
  margin: 0 auto 20px auto; /* Center the container and add margin below */
  border: 1px solid #33ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Makes the container circular */
  overflow: hidden; /* Ensures the image doesn't overflow out of the circle */
}

#soundEngineImagePreview,
#soundEngineImagePreviewForm {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container area without distortion */
}


$button-size: 4rem; // Define a fixed button size (you can adjust as needed)

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjust this if you need spacing below the buttons */
}

.back-button-container,
.edit-button-container {
  display: inline-block;
}

#backButton, #editButton {
  width: $button-size; /* Adjust the size as needed */
  height: $button-size; /* Ensure both buttons are the same size */
  padding: 0; /* Ensure padding doesn't affect the size */
  border-radius: 50%; /* Ensures the button remains circular */
}

#backButton .material-symbols-outlined,
#editButton .material-symbols-outlined {
  font-size: $button-size*.5; /* Adjust to ensure the icons are the same size */
}

// Existing SCSS (for reference)
/* ... your existing SCSS ... */

/* Additional SCSS for Playlist Form */
.playlist-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.playlist-item h4 {
  margin-top: 0;
}

.playlist-item img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.playlist-item .button-container {
  display: flex;
  gap: 10px;
}

.track-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.track-item:last-child {
  border-bottom: none;
}

/* Toast Styling */
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1001;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast.show {
  visibility: visible;
  opacity: 0.9;
}

.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #dc3545;
}
/* Updated Image Preview Container for Fixed Size */
#playlistImagePreview,
#playlistImagePreviewForm {
    width: 480px;
    height: 480px;
    object-fit: cover;
    border-radius: 0; // Remove border radius for square image
}

input[type="number"] {
  color: black; /* Set the text color to black */
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list-item {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: safe center; 
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.user-profile-pic img {
  width: 60px; /* Set a fixed size for the image */
  height: 60px;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
  margin-right: 15px; /* Add space between the image and the text */
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
}

.user-display-name {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.user-username {
  font-size: 14px;
  color: #ccc;
}

.user-username a {
  text-decoration: none;
  color: #ccc;
}

.user-username a:hover {
  text-decoration: underline;
}


/* ------------------ SOUND ENGINE ----------------------- */
.soundEngine-list {
  list-style-type: none;
  padding: 0;
}

.soundEngine-list-item {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Space between the content and actions */
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.soundEngine-profile-pic img {
  width: 60px; /* Set a fixed size for the image */
  height: 60px;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
  margin-right: 15px; /* Add space between the image and the text */
}

.soundEngine-details {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
  flex-grow: 1; /* Ensure details take up remaining space */
}

.soundEngine-name {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.soundEngine-availability {
  font-size: 14px;
  color: #ccc;
}

.soundEngine-params {
  font-size: 14px;
  color: #aaa;
}

.soundEngine-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.soundEngine-edit-button {
  background-color: #ff5733; /* Bright color for the edit button */
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.soundEngine-edit-button:hover {
  background-color: #e04a29; /* Darker shade for hover */
}




.follow-button {
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.parameter-inputs {
  margin-bottom: 20px;
}
.param-range {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.param-range input[type="number"] {
  flex: 1;
  min-width: 0;
  width: 30%;
}
@media (max-width: 768px) {
  .param-range input[type="number"] {
      width: 100%;
  }
}
