---
layout: page
titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  es      : &ES       Archivos
  es-ES   : *ES
  es-LA   : *ES
  tr      : &TR       Arşivdekiler
  # @end locale config
---
{{ content }}


<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.lab type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>


<div class="hero hero--dark" style='height: 200px; background-image: url("/img/433.2.jpg");'>
  <div class="hero__content">  
  </div>
</div>
<div class="hero hero--center hero--dark"  style= 'height: 512px; background-image: url("img/radio/cards-back-collect.png");'>
  <div class="hero__content">
      <h1><a href="https://maarworld.gumroad.com" target="_blank">Collect</a></h1>
      <p><a href="https://maarworld.gumroad.com" target="_blank">ENT Cards for Interplanetary Players.</a></p>
  </div>
</div>

  <div class="card__content">
    <div class="card__header">
      <h4><a href="https://maarworld.gumroad.com" target="_blank">Increased focus on regeneration.</a></h4>
    </div>
    <p>When you purchase ENT cards, you're not only adding a rare and unique piece to your collection, but you're also allocating 34% of the profits to GruPama for regenerating nature along the Uruguay River.</p>
  </div>
</div>

<div class="cards-container">
  <div class="card__image">
    <img class="image" src="/img/lab/franquia-5.jpeg"/>
  </div>
  <div class="card__content">
    <div class="card__header">
      <h4><a href="https://maarworld.gumroad.com" target="_blank">The Community Protecting Biodiversity.</a></h4>
    </div>
    <p>GruPAmA: Formed in 2005, the Group for Active Environmental Protection. Their mission? Preserve biodiversity, educate, and foster sustainable tourism. They're revitalizing the Linear Park, offering a free 'Ecotourism Guides Course' for local youth. GruPAmA leads in the National System of Protected Areas, community-driven conservation.</p>
  </div>
</div>

<div class="cards-container">
  <div class="card__image">
    <img class="image" src="/img/lab/franquia-4.png"/>
  </div>
  <div class="card__content">
    <div class="card__header">
      <h4><a href="https://maarworld.gumroad.com" target="_blank">Help to protect 7 islands.</a></h4>
    </div>
    <p><b>Next mission?</b>
      Protection of 1419 acres (574 hectares) of forest, habitat for a critically endangered bat species.<br>
      <b>Community Benefit:</b> Ecotourism training, small visitor center, interpretive trail.<br>
      <b>Location:</b> Zapallo, Padre, Carbonera, Rica, Misionera, Churrinche, and Dorad Islands in the Uruguay River.</p>
  </div>
</div>

<div class="cards-container">
  <div class="card__image">
    <img class="image" src="/img/lab/franquia-3.jpeg"/>
  </div>
  <div class="card__content">
    <div class="card__header">
      <h4><a href="https://maarworld.gumroad.com" target="_blank">Unique fauna and flora.</a></h4>
    </div>
    <p>Isla Zapallo and its surroundings are a haven for wildlife. There are more than 16 bat species, some of them endangered or vulnerable. The area is also home to 200+ bird species, a quarter of them are rare or uncommon.
      This special region, close to Argentina and Brazil, is Rincón de Franquía. It protects the only untouched riverside forest north of Salto Grande dam, holding the magic of rare tress coming from Paranaense and Misionaera rainforest.</p>
  </div>
</div>


<div class="hero hero--dark" style='height: 200px; background-image: url("/img/433.3.jpg");'>
  <div class="hero__content">  
  </div>
</div>




<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#000000; clear:left; font:14px Helvetica,Arial,sans-serif; width:90%; margin: 0 auto;} /* Added "margin: 0 auto;" to center the container */
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    #mc_embed_signup input[type="email"] {
      color: black;
    }
       #mc_embed_signup h3 { /* Add this CSS block to center the h3 title */
        text-align: center;
    }
</style>
<div id="mc_embed_signup">
    <form action="https://aventuresonores.us7.list-manage.com/subscribe/post?u=8cc5ff1d6fb14f3fdc831c40a&amp;id=873fbbbbb9&amp;f_id=00acc5e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
        <div id="mc_embed_signup_scroll">
        <h3>Join mail list</h3>
              <p> Thank you for subscribing to my newsletter. I strive to provide high-quality information to keep you informed and up-to-date. If at any point you no longer wish to receive such emails, you can unsubscribe at any time. Thank you for your support! </p>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email  <span class="asterisk">*</span>
        </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
        </div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cc5ff1d6fb14f3fdc831c40a_873fbbbbb9" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/if7emL" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_light_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
