---
layout: articles
---

<div class="hero hero--dark" style='height: 233px; background-image: url("/img/433.1b.jpg");'>
  <div class="hero__content">  
  </div>
</div>

<div class="hero hero--center" style="background-color: #000000;">
  <div class="hero__content">
    <h3>{{ page.suit_title}}</h3>
  <p style="font-size: 70%;">Please <a href="https://support.apple.com/en-gb/HT208353" rel="unmute" target="_blank">unmute</a> your device and press PLAY ▶️ button.</p>
  </div>
</div>


  <div class="container">
    <iframe class="responsive-iframe" src="{{ page.player }}" style="border: 0"></iframe>
  </div>

<div class="hero hero--center" style="background-color: #000000;">
  <div class="hero__content">
    <a href="{{ page.player }}" rel="Maar World Player" target="_blank"> Play full screen</a>
</div>
</div>


<div class="item">
  <div class="item__image">
  <img class="image image--lg" src="{{ page.card_image}}" style="margin:0 auto; display:block;"/>
  </div>
  <div class="item__content">
    <div class="item__header">
    <div style="text-align: center;">
      <h2>{{ page.card_title }}:</h2>
    </div>    
    </div>
    <div class="item__description">
      <p>{{ page.card_description }}</p>
    </div>
  </div>
</div>
  

<div class="hero hero--dark" style='height: 233px; background-image: url("/img/433.2.jpg");'>
  <div class="hero__content">  
  </div>
</div>