---
layout: article
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: true
  show_excerpt: true
  show_readmore: true
  show_info: true
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>

<div class="hero hero--dark" style='background-image: url("https://drive.google.com/file/d/1neQOO7Gl12igC2jFfBrhU4crwdP0UN3J/view?usp=sharing");'>
  <div class="hero__content">
    <h1>
      
   WelcomE To a vintage NeW WorlD. Slow down to enter a place where space-time bends and things can get weird, gravity is 2.93 slower than earth. 


</h1>
  </div>
</div>

<script>
  {%- include scripts/home.js -%}

</script>

{{ content }}
